# Python
__pycache__/
*.pyc

# Virtual env
venv/
venv_broken_*/

# Datasets
dataset/
dataset_final/

# Face data
known_faces/
unknown_faces/
models/

# Images (ignore everywhere except screenshots folder)
*.jpg
*.jpeg
*.png

!screenshots/
!screenshots/*.jpg
!screenshots/*.jpeg
!screenshots/*.png

# Output files
attendance.xlsx

# VS Code
.vscode/

# Logs
*.log